# If you want to configure certain options for your .envrc and don't
# want git to track that change you can either use:
#  (1)  ~/.gitignore (which is global)
#  (2) `git update-index --assume-unchanged .envrc

# Use with all defaults:
use nix

# Or, use with nospdk/norust:
# use nix --arg nospdk true --arg norust true
