[submodule "spdk-rs"]
	path = spdk-rs
	url = https://github.com/openebs/spdk-rs
	branch = develop
[submodule "utils/dependencies"]
	path = utils/dependencies
	url = ../mayastor-dependencies.git
	branch = develop
