**/target
**/*.rs.bak
**/cscope.*
**/rust-tags.*
/Dockerfile.debug
/Dockerfile.release
/.vagrant
**/*.terraform
**/*.tfstate*
mayastor/local-randrw-0-verify.state
mayastor/local-write_verify-0-verify.state
test-yamls/*
/package-lock.json
/node_modules
artifacts/
.idea
.vscode
**/.pytest_cache
**/__pycache__
/chart/charts/
ansible-hosts
/test/python/common_pb2.py
/test/python/common_pb2_grpc.py
/test/python/csi_pb2.py
/test/python/csi_pb2_grpc.py
/test/python/mayastor_pb2.py
/test/python/mayastor_pb2_grpc.py
/test/python/pool_pb2.py
/test/python/pool_pb2_grpc.py
/test/python/bdev_pb2.py
/test/python/bdev_pb2_grpc.py
/test/python/host_pb2.py
/test/python/host_pb2_grpc.py
/test/python/nexus_pb2.py
/test/python/nexus_pb2_grpc.py
/test/python/replica_pb2.py
/test/python/replica_pb2_grpc.py
/test/python/registration_pb2.py
/test/python/registration_pb2_grpc.py
/test/python/snapshot_pb2.py
/test/python/snapshot_pb2_grpc.py
/test/python/venv/*
/package.json
/rust-toolchain.toml
/test/python/reports
