**/target
**/*.rs.bak
**/cscope.*
**/rust-tags.*
/Dockerfile.debug
/Dockerfile.release
/.vagrant
**/*.terraform
**/*.tfstate*
mayastor/local-randrw-0-verify.state
mayastor/local-write_verify-0-verify.state
test-yamls/*
/package-lock.json
/node_modules
artifacts/
.idea
**/.pytest_cache
**/__pycache__
/chart/charts/
ansible-hosts
