[submodule "rpc/mayastor-api"]
	path = rpc/mayastor-api
	url = https://github.com/openebs/mayastor-api
	branch = release/2.2
[submodule "spdk-rs"]
	path = spdk-rs
	url = https://github.com/openebs/spdk-rs
	branch = release/2.2
[submodule "utils/io-engine-dependencies"]
	path = utils/io-engine-dependencies
	url = https://github.com/openebs/mayastor-dependencies.git
	branch = release/2.2
