[submodule "spdk-rs"]
	path = spdk-rs
	url = ../spdk-rs.git
	branch = release/2.10
[submodule "utils/dependencies"]
	path = utils/dependencies
	url = ../mayastor-dependencies.git
	branch = release/2.10
