**/target
**/*.rs.bak
**/cscope.*
**/rust-tags.*
/Dockerfile.debug
/Dockerfile.release
/.vagrant
**/*.terraform
**/*.tfstate*
mayastor/local-randrw-0-verify.state
mayastor/local-write_verify-0-verify.state
test-yamls/*
