[package]
authors = ["Jan Kryl <jan.kryl@mayadata.io>", "Jeffry Molanus <jeffry.molanus@mayadata.io"]
name = "csi"
version = "0.2.0"
edition = "2018"

[[bin]]
name = "mayastor-csi"
path = "src/server.rs"

[build-dependencies]
bytes = "0.5"
tonic-build = "0.1.0"
prost-build = "0.6.0"

[dependencies]
bytes = "0.5"
bytesize = "1.0.0"
chrono = "0.4.9"
clap = "2.33.0"
env_logger = "0.7"
failure = "0.1"
futures = { version = "0.3", default-features = false }
git-version = "0.3.1"
glob = "*"
http = "0.1"
http-body = "0.2"
itertools = "0.9"
libc = "0.2"
log = "0.4"
loopdev = "*"
once_cell = "1.3.1"
proc-mounts = "0.2"
prost = "0.6"
prost-derive = "0.6"
prost-types = "0.6"
regex = "1.3.6"
sys-mount = "1.2"
tokio = { version = "0.2", features = ["full"] }
run_script = "*"
tonic = "0.1"
tower = "0.3"
url = "2.1.1"
which = "3.1.1"
nvmeadm = { path = "../nvmeadm", version = "0.1.0" }
udev = "0.4"

[dependencies.blkid]
branch = "blkid-sys"
git = "https://github.com/openebs/blkid"

