asyncssh==2.21.0
protobuf==6.32.0
pytest==8.3.2
pytest-asyncio==1.1.0
pytest-bdd==8.1.0
pytest-docker-compose-v2==0.1.2
pytest-testconfig==0.2.0
pytest-timeout==2.4.0
pytest-variables==3.1.0
retrying==1.4.1
requests==2.32.4
docker==7.1.0
pyyaml==6.0.2
